.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 24px;
  background-color: #1f2937; /* gris foncé */
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  border-bottom: 2px solid #3b82f6; /* bleu */
}

.logout-btn {
  background-color: #ef4444;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #dc2626;
}
